@using System.Web.UI.WebControls
@model IEnumerable<BLLInterface.Models.UserEntity>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div>
    <ul id="userList">
      @foreach (var user in Model)
        {
            <li>
                
                @Html.ActionLink(user.Nickname,"ViewAccount","Account",new{Email=user.Email},null)
                <br/>
                Email: @user.Email
                <br/>
                @*Role : @Html.DropDownList("Roles", new SelectList(ViewBag.Roles, user.Role.ToString()))*@
                
                @using (Html.BeginForm("UpdateUser", "Account",user))
                { 

                @Html.DropDownList("Role", new SelectList(ViewBag.Roles, user.Role.ToString()))

                <input type="submit"/>
                }
               
                
            </li>
        }  
    </ul>
</div>