@model BLLInterface.Models.TaskEntity
@{
    ViewBag.Title = "AllTasks";

    var ajaxOptions=new AjaxOptions()
    {
        UpdateTargetId = "list",
        Url = Url.Action("AllTasksUpdateJSON"),
        OnSuccess = "ParseResponse"
    };

}
@Styles.Render("~/Content/TaskStyles.css")
<h2 align="center">AllTasks</h2>


<form action="NewTask" >
    <input type="submit" class="button" value="Add new task"/>
</form>

@using (Ajax.BeginForm(ajaxOptions))
{
    <input type="submit" value="Refresh" />
    <ul class="border" id="list" >
        @Html.Action("_RenderTaskList")
    </ul>
}
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script type="text/javascript">
        function ParseResponse(data) {
            
            var target = $("#list");
            target.empty();

            for (var i = 0; i < data.length; i++) {
                target.append("<li>" +
                    "<h3 align=\"left\">" +
                    data[i].Title +
                    " </h3>" +
                    "<h5>" +
                    "Category: " +
                    data[i].Category +
                    "</h5>" +
                    "Status: " +
                    data[i].Status +
                    "<div align=\"right\"><font color=\"red\">" +
                    data[i].Price +
                    " $</font>" +
                    "<br/>" +
                    @Html.ActionLink("htllo","NewTask").ToString()+
                    "</div>" +
                    "</li>"
                )
            }
        }
    </script>
}
