@model BLLInterface.Models.TaskEntity
@{
    ViewBag.Title = "TaskInfo";
}

<h2>TaskInfo</h2>

@Model.Title
@Model.Description
@Model.CreatorUser.Nickname
@Html.ActionLink("Developer", "ViewAccount","Account",Model.CreatorUser,null)