@model BLLInterface.Models.UserEntity
@{
    ViewBag.Title = "ViewAccount";
}

<h2> @Model.Nickname Account</h2>

Nickname : @Model.Nickname
<br />
Role : @Model.Role
<br />
First name : @Model.Firstname
<br />
Email : <a href="mailto:@Model.Email">Send email</a>
